<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">


    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Biji">
        <activity
            android:name="notebook.activities.UserActivity"
            android:label="个人主页"
            android:exported="false" />
        <activity
            android:name="notebook.activities.HomeActivity"
            android:exported="false"
            android:label="主界面"
            android:theme="@style/Theme.Biji" />
        <activity
            android:name="notebook.activities.NoteDetailActivity"
            android:exported="false"
            android:label="笔记编辑页"
            android:theme="@style/Theme.Biji" />
        <activity
            android:name="notebook.activities.NoteActivity"
            android:exported="false"
            android:label="目录"
            android:theme="@style/Theme.NotePreview" />
        <activity
            android:name="notebook.activities.SignActivity"
            android:exported="false"
            android:label="注册页"
            android:theme="@style/Theme.Biji" />
        <activity
            android:name="notebook.activities.LoginActivity"
            android:exported="true"
            android:label="登录页"
            android:theme="@style/Theme.Biji">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>